.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
h1{
  font-weight: lighter;
}
#root{
	font-weight: lighter;
  font-size: 1.5rem;
  text-align: center;
}
ul {
  font-size: 1rem;
  list-style: none;
}
button{
  font-size: 0.5rem;

    width: 56px;/*幅*/
    height: 30px;/*高さ*/
    background: whitesmoke;/*背景色*/
    transition: .3s;/*滑らかな動きに*/
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);/*影*/
}
input{
  font-size: 0.5rem;
  width: 300px;/*幅*/
    height: 30px;/*高さ*/
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
