body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  
}
h1{
  background-color: rgba(138, 187, 180, 0);
}
.input-submit{ 
  color: #2d8fdd;
}
.itemlist{
  padding: 0.1em;
  margin: 0.1em;
  font-size: 12px;

}
input{
  background-color: rgba(138, 187, 180, 0);
}
button{
  font-size: 0.5rem;

    margin: 5px;
    padding: 5px;
    width: 56px;/*幅*/
    height: 30px;/*高さ*/
    background: whitesmoke;/*背景色*/
    transition: .3s;/*滑らかな動きに*/
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);/*影*/
}
li{
  font-size: 2em;
  text-align: center;
  padding: 0;
  position: relative;
  text-align: left;
  color: #2d8fdd;
}
ul li:before{ 
  display:inline-block; 
  text-align: left;

  content:'';
  width:0.5em;
  height: 0.5em;
  background:#2d8fdd;
  border-radius: 50%;
  margin-right: 8px;
  padding: 0.1em;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
